**/Debug
**/Release/
*.settings/
.ccsproject
.cproject
.project
.gitignore.*
msp432p4111.cmd
startup_msp432p4111_ccs.c
system_msp432p4111.c
*/Release/
*/.xdchelp
**/.config
**/.config
*/.launches
**/.launches/
*/targetConfigs
**/targetConfigs/
dvt
dvt/*
.jxbrowser-data
.jxbrowser-data/*
.metadata
.metadata/*
RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
